<script lang="ts" setup>
import problemOne from "@/components/problemOne.vue";
</script>
<template>
  <v-container>
    <problemOne> </problemOne>
  </v-container>
</template>

<style scoped></style>
