<script lang="ts" setup>
import ProblemTwo from "@/components/ProblemTwo.vue";
import { ref, computed } from "vue";
const number = ref("0");
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-text-field v-model.number="number" :rules="[(v) => !!v || 'Number is not emgty!!']"
          label="Please input Number" required></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-container>
          <v-row>
            <v-col cols="1" v-for="n of number" :key="n">
              {{ n }}
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
