<script lang="ts" setup>
import { ref, computed } from "vue";
interface Product {
  id: number;
  name: string;
  price: number;
}
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const arrItem = ref<Product[]>([]);
function pushItem(item: Product) {
  arrItem.value.push(item);
}
const total = computed(() => {
  let sum = 0;
  for (const p of arrItem.value) {
    sum += p.price;
  }
  return sum;
});
</script>
<template>
  <!-- <div>
    {{ products }}
  </div> -->
  <v-container>
    <v-row>
      <v-col cols="6" style="overflow-y: auto; height: 80vh">
        <v-container>
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <v-card class="pa-2 justify-center text-center">
                <v-card-title class="text-h5"> {{ item.name }}</v-card-title>
                <v-card-text class="text-h6"> {{ item.price }}</v-card-text>
                <v-card-actions><v-btn @click="pushItem(item)">Add</v-btn></v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container>
          <v-row style="overflow-y: auto; height: 80vh">
            <v-col>
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">id</th>
                    <th class="text-left">name</th>
                    <th class="text-left">price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="arrItem.length === 0">
                    <td colspan="3" class="text-center">No Data</td>
                  </tr>
                  <tr v-for="item in arrItem" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="text-h2"> Sum {{ total }} </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
