<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const cou = useCounterStore();
</script>
<template>
  <v-card width="250">
    <v-card-title> First Component </v-card-title>
    <v-card-title>{{ cou.count }} </v-card-title>
    <v-card-actions><v-btn @click="cou.increment" variant="tonal">INCREMENT</v-btn></v-card-actions>
  </v-card>
</template>
