<script lang="ts" setup>
import { ref, computed } from "vue";
const url = ref("../../feeling_imgs/angry.png");
const name = ref("Angry");
const colorAngry = ref("");
const colorSmile = ref("");
const colorCute = ref("");
const colorExcited = ref("");
const colorPain = ref("");
const colorShock = ref("");
const clearColor = () => {
  colorAngry.value = "";
  colorSmile.value = "";
  colorCute.value = "";
  colorExcited.value = "";
  colorPain.value = "";
  colorShock.value = "";
};
const angry = () => {
  name.value = "Angry";
  url.value = "../../feeling_imgs/angry.png";
  clearColor;
  colorAngry.value = "";
  colorSmile.value = "";
  colorCute.value = "";
  colorExcited.value = "";
  colorPain.value = "";
  colorShock.value = "";
  colorAngry.value = "yellow";
};
const smile = () => {
  name.value = "Smile";
  url.value = "../../feeling_imgs/smile.png";
  clearColor;
  colorAngry.value = "";
  colorSmile.value = "";
  colorCute.value = "";
  colorExcited.value = "";
  colorPain.value = "";
  colorShock.value = "";
  colorSmile.value = "yellow";
};
const cute = () => {
  name.value = "Cute";
  url.value = "../../feeling_imgs/cute.png";
  clearColor;
  colorAngry.value = "";
  colorSmile.value = "";
  colorCute.value = "";
  colorExcited.value = "";
  colorPain.value = "";
  colorShock.value = "";
  colorCute.value = "yellow";
};
const excited = () => {
  name.value = "Excutrd";
  url.value = "../../feeling_imgs/excited.png";
  clearColor;
  colorAngry.value = "";
  colorSmile.value = "";
  colorCute.value = "";
  colorExcited.value = "";
  colorPain.value = "";
  colorShock.value = "";
  colorExcited.value = "yellow";
};
const pain = () => {
  name.value = "Pain";
  url.value = "../../feeling_imgs/pain.png";
  clearColor;
  colorAngry.value = "";
  colorSmile.value = "";
  colorCute.value = "";
  colorExcited.value = "";
  colorPain.value = "";
  colorShock.value = "";
  colorPain.value = "yellow";
};
const shocked = () => {
  clearColor;
  name.value = "Chocked";
  url.value = "../../feeling_imgs/shocked.png";
  colorAngry.value = "";
  colorSmile.value = "";
  colorCute.value = "";
  colorExcited.value = "";
  colorPain.value = "";
  colorShock.value = "";
  colorShock.value = "yellow";
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card width="550">
          <v-img :src="url"> </v-img>
        </v-card>
      </v-col>

      <v-row>
        <div>
          <div class="text-h3" style="text-align: center">{{ name }}</div>
          <v-col><v-btn :color="colorAngry" width="500" height="50" @click="angry">ANGRY</v-btn>
          </v-col>
          <v-col><v-btn :color="colorCute" width="500" height="50" @click="cute">CUTE</v-btn>
          </v-col>
          <v-col><v-btn :color="colorExcited" width="500" height="50" @click="excited">EXCITED</v-btn>
          </v-col>
          <v-col><v-btn :color="colorPain" width="500" height="50" @click="pain">PAIN</v-btn>
          </v-col>
          <v-col><v-btn :color="colorShock" width="500" height="50" @click="shocked">SHOCKED</v-btn>
          </v-col>
          <v-col><v-btn :color="colorSmile" width="500" height="50" @click="smile">SMILE</v-btn>
          </v-col>
        </div>
      </v-row>
    </v-row>
  </v-container>
</template>

<style scoped>
button {
  width: 350;
}
</style>
