<script lang="ts" setup>
import { ref, computed, reactive } from "vue";
import { useRoundStore } from "../stores/round";
const numbers = useRoundStore();
const number = ref();
const state = reactive({
  num: 0,
});
</script>

<template>
  <v-card>
    <v-card-title>
      <div style="padding-top: 30px">
        <v-responsive class="mx-auto" max-width="1000">
          <v-text-field v-model="state.num" label="Please input number" hide-details="auto"></v-text-field>
        </v-responsive>
      </div>
    </v-card-title>
    <v-card-item v-for="item in state.num" :key="item - 1">
      <div v-if="item != 0" style="padding-top: 30px; width: max-content">
        {{ state.num }}
      </div>
    </v-card-item>
    <!-- <v-card-item v-for="item in numbers.counts" :key="item">
      <div style="padding-top: 30px; width: max-content">
        {{ item }}
      </div>
    </v-card-item> -->
  </v-card>
</template>

<style scoped>

</style>
