<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const cou = useCounterStore();
</script>
<template>
  <v-card width="250">
    <v-card-title> Second Component </v-card-title>
    <v-card-title>{{ cou.doubleCount }} </v-card-title>
    <v-card-actions><v-btn justify-center @click="cou.decrease" variant="tonal">DECREATE</v-btn></v-card-actions>
  </v-card>
</template>
